body{
    background:#111;
    color:white;
    font-family:Arial;
}

.about{
    text-align:center;
    padding:40px;
}

.about img{
    width:700px;
    max-width:100%;
    border-radius:10px;
    margin:20px 0;
}

.about p{
    width:70%;
    margin:auto;
    margin-bottom:20px;
    line-height:1.8;
}