/* ================= GLOBAL ================= */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f2f2f2;
    font-family:Arial, sans-serif;
    padding:20px;
}

/* ================= TOP VIDEO SECTION ================= */
.top-videos{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:5px;
    margin-bottom:10px;
    flex-wrap:wrap;
}

/* .playerimg{
    width: 100%;
    height: 100%;
    object-fit:cover;
    padding: 10px 20px 10px 20px;
    width: 100%;
    height: 100%;
}

/* VIDEO BOX */
/* .video-box{
    width:55%;
    height:350px;
    border:1px solid #999;
    background:white;
} */

/* VIDEO */
/* .video-box video{
    width:100%;
    height:100%;
    object-fit:cover;
} */

/* LARGE IMAGE */

.playerimg{
    width: 46%;
    /* height:30%; */
    border:1px solid #999;
    /* background:white; */
}

.playerimg img{
    width:100%;
    /* height:100%; */
    /* border:1px solid #999; */
    object-fit:cover;
    /* background:white; */

    /* width: 100%;
    height: 100%;
    object-fit:cover;*/
    padding: 10px 20px 10px 20px;
}

/* RIGHT CONTENT */

.video-box{
    width: 50%;
    display:flex;
    flex-direction:column;
    gap: 10px;
    padding: 10px;
}

iframe{
    width: 90%;
    height: 580px;
}

/* ================= TEXT SECTION ================= */
.text-bar{
    margin-top:10px;
    margin-bottom:10px;
}

/* LONG TEXT BOX */
.long-text-box{
    /* width:100%;
    height:20px; */
    /* border:1px solid #999; */
    /* background:white; */
    margin-bottom:8px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:12px;
}

/* SMALL TEXT BOX */
.small-text-box{
    /* width:65%;
    height:20px; */
    /* border:1px solid #999; */
    /* background:white; */
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:12px;
}

/* ================= SOCIAL ICONS ================= */
.top-socials{
    display:flex;
    gap:10px;
    margin-bottom:40px;
    font-size:25px;
    margin-top:30px;
    justify-content:center;
}

h1{
    text-align:center;
    padding:30px;
}

/* ================= IMAGE GALLERY ================= */
.image-gallery{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
    margin-bottom:40px;
}

/* CARD */
.gallery-card{
    width:220px;
    cursor: pointer;
}

.gallery-card:hover{
    transform:translateY(-5px);
    transform: scale(1.15);
}

/* IMAGE */
.gallery-card img{
    width:100%;
    height:250px;
    object-fit:cover;
    border:1px solid #999;
    background:white;
}

/* BOTTOM TEXT */
.bottom-text{
    width:100%;
    height:18px;
    border:1px solid #999;
    margin-top:5px;
    background:white;
}

/* CARD SOCIALS */

.card-socials{
    display:flex;
    gap:10px;
    margin-top:5px;
    font-size:20px;
}

/* ================= RESPONSIVE ================= */

@media(max-width:900px){

    .video-box{
        width:100%;
    }

    .gallery-card{
        width:100%;
    }

    .small-text-box{
        width:100%;
    }

}